    @page
    @model clothStore.Pages.CartModel

    @{
        ViewData["Title"] = "Cart";
    }
    <!-- Cart.cshtml -->
    <head>
        <!-- Other head elements -->

        <script src="~/js/cart.js"></script>
    </head>


    <div class="container mt-5">
        <h1 class="text-center">Shopping Cart</h1>
        <!-- Cart.cshtml -->
        <div class="container mt-5">
            <div class="cartItemsContainer">
                <!-- Display cart items here-->
            </div>
        </div>

    </div>
